<!DOCTYPE html>
<html>
<head>
<link rel="icon" type="image/png" href="images/icons/favicon.ico" />
<style type="text/css">
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: cyan;
}
</style>

<meta charset="ISO-8859-1">
<title>Magazine Save</title>
</head>
<body>
<p>Magazine Created<p><br>
<a href="/">home</a><br>
<a href="/newmagazine">back</a>

</body>
</html>